<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">MultiPagos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-slides class="mainSlide" #slidePrincipal [options]="slideOpts">
    <ion-slide>
      <ion-grid fixed>
        <div class="buttonsContainer">
          <ion-button expand="block" (click)="loginGoogle()">
            <ion-icon name="logo-google"></ion-icon>
            Iniciar Sesión con Google
          </ion-button>
          <div class="ion-margin-top"></div>
        </div>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
