<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll="false">
  <ion-row class="top-20">
    <ion-col size="12">
      <div class="ion-text-center">
        <img class="img-avatar">
      </div>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item>
      <ion-label>Posición actual</ion-label> {{this.user.coords}}
      <ion-spinner name="lines-small" *ngIf="cargandoGeo"></ion-spinner>
      <ion-toggle slot="end" [(ngModel)]="user.posicion" (ionChange)="getGeo()"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" shape="round" (click)="camara()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Cámara
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" shape="round" (click)="libreria()">
        <ion-icon slot="start" name="images"></ion-icon>
        Galería
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" *ngFor="let image of tempImages">
      <ion-card>
        <img [src]="image">
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <div id="map"  #mapa></div>
  </ion-row>



</ion-content>
