<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment scrollable mode="md" color="primary" (ionChange)="cargarCategoria($event)">
    <ion-segment-button md="md" [value]="categoria" *ngFor="let categoria of categorias">
      <ion-label class="ion-text-capitalize">{{categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>



  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let dato  of datos">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                {{ dato.title }} {{ dato.name }} {{dato.firstName}}
                {{dato.fullName}}
              </ion-card-title>
            </ion-card-header>
            <ion-img *ngIf="dato.thumbnail!==null" src="{{dato.thumbnail.path}}.{{dato.thumbnail.extension}}">
            </ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
